
@import "compass/css3/animation";
@import "animations";

@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";


//Scrren trsansition
.transition.ng-leave {display: none;}
.transition.ng-leave.ng-leave-active {}
.transition.ng-enter {}
.transition.ng-enter.ng-enter-active {
  @include animation(fadeIn 0.2s);
}




.testAnimations {
  background: red;
  height: 200px;
  //height: 1000px; //important
  overflow: hidden;
  @include animation(slideDown 1s infinite, fadeIn 1s infinite);
}






//fix breadcrumbs glitch
.header {
  min-height: 35px;
}
table.layoutHolder {
  position: relative;
}

table.layoutHolder td.page div.content {
  @include box-sizing(border-box);
}

/**
 * Fix sidebar navigation glitch
 */
td.navigation div.item {
  background-position: right center;
  background-repeat: no-repeat;
}

table.layoutHolder td.navigation div.item div.button {
  border: solid #cdd1d8;
  border-width: 0px 0px 1px 0px;
  text-align: left;
  margin-right: 25px;
}

table.layoutHolder td.navigation div.item a {
    font-size: 11px;
    text-decoration: none;
    text-shadow: #fff 0px 1px 0px;
    font-weight: normal;

    @include border-radius(8px);
    display: block;
    margin: 7px 0px 5px 0px;
    padding: 5px 15px 7px 15px;
    white-space: nowrap;
}
table.layoutHolder td.navigation div.item.active a {
  color: #fff;
  background: #2C8ED3;
  text-shadow: none;


  padding: 4px 15px 6px 15px;
  border: solid;
  border-width: 1px 0px;
  border-bottom-color: #dbebfb;
  border-top-color: #2c8ed3;
}

td.navigation .menu .item.active .button a{
  background: #4D9AE9;
  @include animation(fadeIn 0.4s);
}

/**
 * Button fixes
 */
a.button.active {
  border: none;
  &:hover {background: darken(#4D9AE9, 6)}
}

/**
 * Form fixes
 */
div.formContainer {

  .controls {
    margin-top: 10px;
  }

  .field {
    margin-bottom: 10px;
  }

  input[type="text"] {
    margin-bottom: 3px;
  }

  input[type="submit"] {
    cursor: pointer;
    &:hover {background: darken(#4D9AE9, 6)}
    &:disabled {
      @include opacity(0.5);
      cursor: not-allowed;
    }
  }

  label {
    padding-left: 0px;
  }

  .field .errors, field .errors li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;

    font-size: 11px;
    color: #d15959;
  }

  //.field.error
  //{
  //    input[type=text], textarea
  //    {
  //        background: #fff6f5;
  //        border-color: #dea7a7;
  //        color: #757170;
  //    }
  //    ul.errors, ul.errors li
  //    {
  //        list-marker: none;
  //        margin: 0px;
  //        padding: 1px 0px 0px 8px;
  //        display: inline-block;
  //
  //        font-size: 11px;
  //        color: #d15959;
  //    }
  //}

} //form container

/**
 * Form animations
 * We may use simple fades instead of javascript animations.
 */
div.formContainer {
  overflow: hidden;
}
//div.formContainer.ng-hide-remove {
//  @include animation(fadeIn 0.2s);
//  display:block!important; //!remember
//}
//div.formContainer.ng-hide-add {
//  @include animation(fadeOut 0.2s);
//}









/**
 * Content pre loader directive
 */
.view-preloader {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 100;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  @include animation(fadeIn 0.2s);

  &.hide{
    @include animation(fadeIn 0.2s);
  }

  .loading-message {
    display: inline-block;
    padding: 10px 20px;
    background: #e7e7e7;
    margin-top: 200px;
    @include border-radius(10px);
  }

  &.error .loading-message{
    background: rgba(181, 0, 0, 0.8);
    color: #fff;
  }
}