<!-- Page header -->
<table class="pageHeader">
	<tr>
		<td class="title">
			Content types
		</td>
		<td class="controls">
      <a href="" class="button active" data-ng-hide="formVisible" data-ng-click="showForm()">Add new type</a>
      <a href="" class="button inactive" data-ng-show="formVisible" data-ng-click="hideForm()">Cancel add</a>
		</td>
	</tr>
</table>
<!-- /Page header -->

<!-- Notifications -->
<div id="default" shift-notifications></div>
<!-- /Notifications -->

<!-- New type form -->
<div class="formContainer add" data-ng-show="formVisible">
    <div class="progress" data-ng-show="formProgress" data-ng-class="{animate: formProgress}"><span>Working...</span></div>
    <form name="newTypeForm" data-ng-submit="createType()" class="disabled" novalidate shift-form>

        <!-- Field -->
        <div class="field">
          <label for="name">Content type name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Type name"
            data-ng-model="newType.name"
            data-ng-class="{invalid: newTypeForm.shift.fieldErrors('name')}"
            data-ng-minlength = "2"
            required
            autofocus>

          <ul class="errors" data-ng-show="newTypeForm.shift.fieldErrors('name')">
            <li data-ng-show="newTypeForm.name.$error.required">Name is required!</li>
            <li data-ng-show="newTypeForm.name.$error.minlength">Too short!</li>
            <li data-ng-repeat="error in newTypeForm.shift.backendErrors.name">{{error.message}}<span data-ng-hide="$last">,</span></li>
          </ul>

        </div>
        <!-- /Field -->

        <!-- Field -->
        <div class="field">
          <label for="description">Content type description</label>
          <input
            type="text"
            id="description"
            name="description"
            placeholder="Type description"
            data-ng-model="newType.description"
            data-ng-class="{invalid: newTypeForm.shift.fieldErrors('description')}">

          <ul class="errors" data-ng-show="newTypeForm.shift.fieldErrors('description')">
            <li data-ng-repeat="error in newTypeForm.formErrors.description">{{error}}<span data-ng-hide="$last">,</span></li>
            <li data-ng-repeat="error in newTypeForm.shift.backendErrors.description">{{error.message}}<span data-ng-hide="$last">,</span></li>
          </ul>
        </div>
        <!-- /Field -->







        <div class="controls">
          <input type="submit" value="Add type">
          <!--<input type="submit" value="Add type" data-ng-disabled="newTypeForm.$invalid">-->
          <a href="" class="button inactive" data-ng-click="hideForm()">Cancel add</a>
        </div>
    </form>
</div>
<!-- /New type form -->


<!-- No items to display -->
<div class="noItems" data-ng-show="types.length == 0 && !formVisible">
    <div>
        <div>No content types yet. Go ahead and <a href="" data-ng-click="showForm()">create some</a> now.</div>
    </div>
</div>
<!-- /No content types yet -->


<table class="giantPill" data-ng-repeat="type in types" id="{{type.id}}">
    <tr>
        <td class="item" data-ng-click="editType(type.id)">
            <img class="icon" src="/modules/shift-content/img/icon-content-type.png" width="16" height="16" />
            <div class="title">
                {{type.name}}
                <span class="description">{{type.description}}</span>
            </div>
        </td>
        <td class="controls">
            <a href="" class="button light" data-ng-click="deleteType(type)">Delete</a>
        </td>
    </tr>
</table>