<!-- Page header -->
<table class="pageHeader">
	<tr>
		<td class="title">
			Manage type
		</td>
		<td class="controls">
      <a href="types/" class="button inactive">Back to list</a>
		</td>
	</tr>
</table>
<!-- /Page header -->


<!-- Header -->
<table class="pageSubheader" data-ng-hide="typeFormVisible">
  <tr>
    <td class="title">
      <img src="/modules/shift-content/img/icon-subheader-content-type.png" width="30" height="30" />
      <div class="subheader">
        {{type.name}}
        <span class="subheaderDescription">{{type.description}}</span>
      </div>
    </td>
    <td class="controls">
      <a href="" class="button active" data-ng-hide="typeFormVisible" data-ng-click="showTypeForm()">Edit type</a>
    </td>
  </tr>
</table>
<!-- /Header -->

<!-- Edit type form -->
<div id="typeMessages" shift-notifications></div>
<div class="formContainer edit" data-ng-show="typeFormVisible">
    <div class="progress" data-ng-show="typeFormProgress" data-ng-class="{animate: formProgress}"><span>Working...</span></div>
    <form name="editTypeForm" data-ng-submit="saveType()" class="disabled" novalidate shift-form>

        <!-- Field -->
        <div class="field">
          <label for="name">Content type name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Type name"
            data-ng-model="type.name"
            data-ng-class="{invalid: editTypeForm.shift.fieldErrors('name')}"
            data-ng-minlength = "2"
            required
            autofocus>

          <ul class="errors" data-ng-show="editTypeForm.shift.fieldErrors('name')">
            <li data-ng-show="editTypeForm.name.$error.required">Name is required!</li>
            <li data-ng-show="editTypeForm.name.$error.minlength">Too short!</li>
            <li data-ng-repeat="error in editTypeForm.shift.backendErrors.name">{{error.message}}<span data-ng-hide="$last">,</span></li>
          </ul>

        </div>
        <!-- /Field -->

        <!-- Field -->
        <div class="field">
          <label for="description">Content type description</label>
          <input
            type="text"
            id="description"
            name="description"
            placeholder="Type description"
            data-ng-model="type.description"
            data-ng-class="{invalid: editTypeForm.shift.fieldErrors('description')}">

          <ul class="errors" data-ng-show="editTypeForm.shift.fieldErrors('description')">
            <li data-ng-repeat="error in editTypeForm.formErrors.description">{{error}}<span data-ng-hide="$last">,</span></li>
            <li data-ng-repeat="error in editTypeForm.shift.backendErrors.description">{{error.message}}<span data-ng-hide="$last">,</span></li>
          </ul>
        </div>
        <!-- /Field -->

        <div class="controls">
          <input type="submit" value="Save type">
          <a href="" class="button inactive" data-ng-click="hideTypeForm()">Discard changes</a>
        </div>
    </form>
</div>
<!-- Edit type form -->


<!-- Subsection: default fields -->
<table class="sectionHeader">
    <tr>
        <td class="title">Default fields</td>
        <td class="controls"></td>
    </tr>
</table>
<div class="rowsContainer">
    <table class="row">
        <tr>
            <td class="itemContainer">
                <img src="/modules/shift-content/img/icon-field.png" width="16" height="16" />

                <div class="itemBlock">
                    <div class="title">Publication date</div>
                    <div class="description">Date and time</div>
                </div>
            </td>
            <td class="controls"></td>
        </tr>
    </table>
    <table class="row">
        <tr>
            <td class="itemContainer">
                <img src="/modules/shift-content/img/icon-field.png" width="16" height="16" />

                <div class="itemBlock">
                    <div class="title">Status</div>
                    <div class="description">Text field</div>
                </div>
            </td>
            <td class="controls"></td>
        </tr>
    </table>
    <table class="row">
        <tr>
            <td class="itemContainer">
                <img src="/modules/shift-content/img/icon-field.png" width="16" height="16" />

                <div class="itemBlock">
                    <div class="title">Item title</div>
                    <div class="description">Text field</div>
                </div>
            </td>
            <td class="controls"></td>
        </tr>
    </table>
    <table class="row">
        <tr>
            <td class="itemContainer">
                <img src="/modules/shift-content/img/icon-field.png" width="16" height="16" />

                <div class="itemBlock">
                    <div class="title">URL Slug</div>
                    <div class="description">Text field</div>
                </div>
            </td>
            <td class="controls"></td>
        </tr>
    </table>
</div>
<!-- /Subsection: default fields -->

<!-- Subsection: custom fields -->
<table class="sectionHeader">
    <tr>
        <td class="title">Custom fields</td>
        <td class="controls">
          <a href="" class="button active" data-ng-hide="fieldFormVisible" data-ng-click="showFieldForm()">Add field</a>
          <a href="" class="button active" data-ng-show="fieldFormVisible" data-ng-click="hideFieldForm()">Cancel add</a>
        </td>
    </tr>
</table>
<!-- /Subsection: custom fields -->

<!-- Edit type form -->
<div id="fieldMessages" shift-notifications></div>
<div class="formContainer add" data-ng-show="fieldFormVisible">
    <div class="progress" data-ng-show="fieldFormProgress" data-ng-class="{animate: formProgress}"><span>Working...</span></div>
    <form name="addFieldForm" data-ng-submit="addField()" class="disabled" novalidate shift-form>

      <!-- Field type-->
      <div class="field">
        <label for="fieldType">Field type</label>
        <div>
          <select
            name ="type"
            id="fieldType"
            ng-model="newField.type"
            ng-options="field.shortName as field.name for field in fieldTypes"
            required
            autofocus>
            <option value="">Please select...</option>
          </select>
        </div>

        <ul class="errors" data-ng-show="addFieldForm.shift.fieldErrors('type')">
          <li data-ng-show="addFieldForm.type.$error.required">Field type is required!</li>
          <li data-ng-repeat="error in addFieldForm.shift.backendErrors.type">{{error.message}}<span data-ng-hide="$last">,</span></li>
        </ul>

      </div>
      <!-- /Field type -->

        <!-- Field name -->
        <div class="field">
          <label for="fieldName">Field name</label>
          <input
            type="text"
            id="fieldName"
            name="name"
            placeholder="Field name"
            data-ng-model="newField.name"
            data-ng-class="{invalid: addFieldForm.shift.fieldErrors('name')}"
            data-ng-minlength = "3"
            data-ng-maxlength = "250"
            required>

          <ul class="errors" data-ng-show="addFieldForm.shift.fieldErrors('name')">
            <li data-ng-show="addFieldForm.name.$error.required">Name is required!</li>
            <li data-ng-show="addFieldForm.name.$error.minlength">Too short!</li>
            <li data-ng-show="addFieldForm.name.$error.maxlength">Too long!</li>
            <li data-ng-repeat="error in addFieldForm.shift.backendErrors.name">{{error.message}}<span data-ng-hide="$last">,</span></li>
          </ul>

        </div>
        <!-- /Field name -->

        <!-- Field property -->
        <div class="field">
          <label for="fieldProperty">Field property name</label>
          <input
            type="text"
            id="fieldProperty"
            name="property"
            placeholder="fieldPropertyName"
            data-ng-model="newField.property"
            data-ng-class="{invalid: addFieldForm.shift.fieldErrors('property')}"
            required>

          <ul class="errors" data-ng-show="addFieldForm.shift.fieldErrors('property')">
            <li data-ng-show="addFieldForm.property.$error.required">Property name is required!</li>
            <li data-ng-repeat="error in addFieldForm.shift.backendErrors.property">{{error.message}}<span data-ng-hide="$last">,</span></li>
          </ul>
        </div>
        <!-- /Field property-->

        <div class="controls">
          <input type="submit" value="Save type">
          <a href="" class="button inactive" data-ng-click="hideFieldForm()">Discard changes</a>
        </div>
    </form>
</div>
<!-- Edit type form -->