/**
 * Colors
 * This holds reusable color values
 */

//blues
$color_blue_standard: #40a7e3;
$color_blue_footer_contacts: #3c9cd5;
$color_blue_footer_navigation: #c7eaff;

//greens
$color_green_standard: #3fd28e;

//greys
$color_grey_page: #676767;
$color_grey_page_lighter: #c7c7c7;
$color_grey_warm: #f5f5ea;

//page stripes
$color_stripe: #f9f9f9;
$color_stripe_lightgrey: #efefef;
$color_stripe_lightblue: #c1eafe;
$color_stripe_blue: #3c9cd5;

//foter colors
$color_grey_footer_copyright: #656565;
$color_grey_footer_light: #a1a1a1;
$color_grey_footer_copyright_text: #959595;


$color_error_text: #b94a48;
$color_notice: #feffe0;

//bootstrap button color extensions
$btnPrimaryBackground: #40a7e3;
$btnPrimaryBackgroundHighlight: lighten($btnPrimaryBackground, 10);

$btnSuccessBackground: #3fd28e;
$btnSuccessBackgroundHighlight: lighten($btnSuccessBackground, 10);




