/*
 * Forms
 * This holds style extensions for the forms display. Basically we just
 * extend from bootstrap form styles.
 */

//@import 'compass';
@import 'colors';
@import 'fonts';


label {
  color: lighten($color_grey_page, 20);
  font-size: 11px;
  margin:0px; padding: 0px;

}

.errors {
  //@extend .help-block;
  color: $color_error_text;
  font-size: 11px;
  display: block;
  min-height: 20px;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      display: inline;
      line-height: 1px;
    }
  }
}





