@import "animate-css";

/**
 * Photoset
 * This holds styles related to modal photoset
 */

//disable body scroll
body.no-scroll { overflow: hidden;}

//animations
.photoset-show {
  @include animateHelper(0, 0.15s, 'fadeIn');
}

.photoset-hide {
  @include animateHelper(0, 0.15s, 'fadeOut');
}

.photoset-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.photoset-closer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    text-align: right;
    padding: 5px 0px;
    background: #000;

    .icon {
      margin: 25px;
      font-size: 20px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      &:hover {color: #fff};
    }

}
.photoset-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.photoset-image-container {
    cursor: pointer;
    position: absolute;
    top: 50%; /* not well if scrolled down */
    left: 50%;
    width: 0px;
    height: 0px;
    margin-top:-1px;
    margin-left:-1px;
    z-index: 1000;
    background: #fff;
    border: 1px solid;
    border-color: #515151;
}

.photoset-original-target {
    position: absolute;
    top: -10000px;
    left: -10000px;
    z-index: 10000;
}