/**
 * This holds styles for various locale images
 */

.flag-bg {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;

  &.ad {background-image: url('/modules/EgratFrontend/img/flags/ad.png');}
  &.ae {background-image: url('/modules/EgratFrontend/img/flags/ae.png');}
  &.af {background-image: url('/modules/EgratFrontend/img/flags/af.png');}
  &.ag {background-image: url('/modules/EgratFrontend/img/flags/ag.png');}
  &.ai {background-image: url('/modules/EgratFrontend/img/flags/ai.png');}
  &.al {background-image: url('/modules/EgratFrontend/img/flags/al.png');}
  &.am {background-image: url('/modules/EgratFrontend/img/flags/am.png');}
  &.an {background-image: url('/modules/EgratFrontend/img/flags/an.png');}
  &.ao {background-image: url('/modules/EgratFrontend/img/flags/ao.png');}
  &.aq {background-image: url('/modules/EgratFrontend/img/flags/aq.png');}
  &.ar {background-image: url('/modules/EgratFrontend/img/flags/ar.png');}
  &.as {background-image: url('/modules/EgratFrontend/img/flags/as.png');}
  &.at {background-image: url('/modules/EgratFrontend/img/flags/at.png');}
  &.au {background-image: url('/modules/EgratFrontend/img/flags/au.png');}
  &.aw {background-image: url('/modules/EgratFrontend/img/flags/aw.png');}
  &.ax {background-image: url('/modules/EgratFrontend/img/flags/ax.png');}
  &.az {background-image: url('/modules/EgratFrontend/img/flags/az.png');}
  &.ba {background-image: url('/modules/EgratFrontend/img/flags/ba.png');}
  &.bb {background-image: url('/modules/EgratFrontend/img/flags/bb.png');}
  &.bd {background-image: url('/modules/EgratFrontend/img/flags/bd.png');}
  &.be {background-image: url('/modules/EgratFrontend/img/flags/be.png');}
  &.bf {background-image: url('/modules/EgratFrontend/img/flags/bf.png');}
  &.bg {background-image: url('/modules/EgratFrontend/img/flags/bg.png');}
  &.bh {background-image: url('/modules/EgratFrontend/img/flags/bh.png');}
  &.bi {background-image: url('/modules/EgratFrontend/img/flags/bi.png');}
  &.bj {background-image: url('/modules/EgratFrontend/img/flags/bj.png');}
  &.bl {background-image: url('/modules/EgratFrontend/img/flags/bl.png');}
  &.bm {background-image: url('/modules/EgratFrontend/img/flags/bm.png');}
  &.bn {background-image: url('/modules/EgratFrontend/img/flags/bn.png');}
  &.bo {background-image: url('/modules/EgratFrontend/img/flags/bo.png');}
  &.br {background-image: url('/modules/EgratFrontend/img/flags/br.png');}
  &.bs {background-image: url('/modules/EgratFrontend/img/flags/bs.png');}
  &.bt {background-image: url('/modules/EgratFrontend/img/flags/bt.png');}
  &.bw {background-image: url('/modules/EgratFrontend/img/flags/bw.png');}
  &.by {background-image: url('/modules/EgratFrontend/img/flags/by.png');}
  &.bz {background-image: url('/modules/EgratFrontend/img/flags/bz.png');}
  &.ca {background-image: url('/modules/EgratFrontend/img/flags/ca.png');}
  &.cc {background-image: url('/modules/EgratFrontend/img/flags/cc.png');}
  &.cd {background-image: url('/modules/EgratFrontend/img/flags/cd.png');}
  &.cf {background-image: url('/modules/EgratFrontend/img/flags/cf.png');}
  &.cg {background-image: url('/modules/EgratFrontend/img/flags/cg.png');}
  &.ch {background-image: url('/modules/EgratFrontend/img/flags/ch.png');}
  &.ci {background-image: url('/modules/EgratFrontend/img/flags/ci.png');}
  &.ck {background-image: url('/modules/EgratFrontend/img/flags/ck.png');}
  &.cl {background-image: url('/modules/EgratFrontend/img/flags/cl.png');}
  &.cm {background-image: url('/modules/EgratFrontend/img/flags/cm.png');}
  &.cn {background-image: url('/modules/EgratFrontend/img/flags/cn.png');}
  &.co {background-image: url('/modules/EgratFrontend/img/flags/co.png');}
  &.cr {background-image: url('/modules/EgratFrontend/img/flags/cr.png');}
  &.cu {background-image: url('/modules/EgratFrontend/img/flags/cu.png');}
  &.cv {background-image: url('/modules/EgratFrontend/img/flags/cv.png');}
  &.cw {background-image: url('/modules/EgratFrontend/img/flags/cw.png');}
  &.cx {background-image: url('/modules/EgratFrontend/img/flags/cx.png');}
  &.cy {background-image: url('/modules/EgratFrontend/img/flags/cy.png');}
  &.cz {background-image: url('/modules/EgratFrontend/img/flags/cz.png');}
  &.de {background-image: url('/modules/EgratFrontend/img/flags/de.png');}
  &.dj {background-image: url('/modules/EgratFrontend/img/flags/dj.png');}
  &.dk {background-image: url('/modules/EgratFrontend/img/flags/dk.png');}
  &.dm {background-image: url('/modules/EgratFrontend/img/flags/dm.png');}
  &.do {background-image: url('/modules/EgratFrontend/img/flags/do.png');}
  &.dz {background-image: url('/modules/EgratFrontend/img/flags/dz.png');}
  &.ec {background-image: url('/modules/EgratFrontend/img/flags/ec.png');}
  &.ee {background-image: url('/modules/EgratFrontend/img/flags/ee.png');}
  &.eg {background-image: url('/modules/EgratFrontend/img/flags/eg.png');}
  &.eh {background-image: url('/modules/EgratFrontend/img/flags/eh.png');}
  &.er {background-image: url('/modules/EgratFrontend/img/flags/er.png');}
  &.es {background-image: url('/modules/EgratFrontend/img/flags/es.png');}
  &.et {background-image: url('/modules/EgratFrontend/img/flags/et.png');}
  &.eu {background-image: url('/modules/EgratFrontend/img/flags/eu.png');}
  &.fi {background-image: url('/modules/EgratFrontend/img/flags/fi.png');}
  &.fj {background-image: url('/modules/EgratFrontend/img/flags/fj.png');}
  &.fk {background-image: url('/modules/EgratFrontend/img/flags/fk.png');}
  &.fm {background-image: url('/modules/EgratFrontend/img/flags/fm.png');}
  &.fo {background-image: url('/modules/EgratFrontend/img/flags/fo.png');}
  &.fr {background-image: url('/modules/EgratFrontend/img/flags/fr.png');}
  &.ga {background-image: url('/modules/EgratFrontend/img/flags/ga.png');}
  &.gb {background-image: url('/modules/EgratFrontend/img/flags/gb.png');}
  &.gd {background-image: url('/modules/EgratFrontend/img/flags/gd.png');}
  &.ge {background-image: url('/modules/EgratFrontend/img/flags/ge.png');}
  &.gg {background-image: url('/modules/EgratFrontend/img/flags/gg.png');}
  &.gh {background-image: url('/modules/EgratFrontend/img/flags/gh.png');}
  &.gi {background-image: url('/modules/EgratFrontend/img/flags/gi.png');}
  &.gl {background-image: url('/modules/EgratFrontend/img/flags/gl.png');}
  &.gm {background-image: url('/modules/EgratFrontend/img/flags/gm.png');}
  &.gn {background-image: url('/modules/EgratFrontend/img/flags/gn.png');}
  &.gq {background-image: url('/modules/EgratFrontend/img/flags/gq.png');}
  &.gr {background-image: url('/modules/EgratFrontend/img/flags/gr.png');}
  &.gs {background-image: url('/modules/EgratFrontend/img/flags/gs.png');}
  &.gt {background-image: url('/modules/EgratFrontend/img/flags/gt.png');}
  &.gu {background-image: url('/modules/EgratFrontend/img/flags/gu.png');}
  &.gw {background-image: url('/modules/EgratFrontend/img/flags/gw.png');}
  &.gy {background-image: url('/modules/EgratFrontend/img/flags/gy.png');}
  &.hk {background-image: url('/modules/EgratFrontend/img/flags/hk.png');}
  &.hn {background-image: url('/modules/EgratFrontend/img/flags/hn.png');}
  &.hr {background-image: url('/modules/EgratFrontend/img/flags/hr.png');}
  &.ht {background-image: url('/modules/EgratFrontend/img/flags/ht.png');}
  &.hu {background-image: url('/modules/EgratFrontend/img/flags/hu.png');}
  &.ic {background-image: url('/modules/EgratFrontend/img/flags/ic.png');}
  &.id {background-image: url('/modules/EgratFrontend/img/flags/id.png');}
  &.ie {background-image: url('/modules/EgratFrontend/img/flags/ie.png');}
  &.il {background-image: url('/modules/EgratFrontend/img/flags/il.png');}
  &.im {background-image: url('/modules/EgratFrontend/img/flags/im.png');}
  &.in {background-image: url('/modules/EgratFrontend/img/flags/in.png');}
  &.iq {background-image: url('/modules/EgratFrontend/img/flags/iq.png');}
  &.ir {background-image: url('/modules/EgratFrontend/img/flags/ir.png');}
  &.is {background-image: url('/modules/EgratFrontend/img/flags/is.png');}
  &.it {background-image: url('/modules/EgratFrontend/img/flags/it.png');}
  &.je {background-image: url('/modules/EgratFrontend/img/flags/je.png');}
  &.jm {background-image: url('/modules/EgratFrontend/img/flags/jm.png');}
  &.jo {background-image: url('/modules/EgratFrontend/img/flags/jo.png');}
  &.jp {background-image: url('/modules/EgratFrontend/img/flags/jp.png');}
  &.ke {background-image: url('/modules/EgratFrontend/img/flags/ke.png');}
  &.kg {background-image: url('/modules/EgratFrontend/img/flags/kg.png');}
  &.kh {background-image: url('/modules/EgratFrontend/img/flags/kh.png');}
  &.ki {background-image: url('/modules/EgratFrontend/img/flags/ki.png');}
  &.km {background-image: url('/modules/EgratFrontend/img/flags/km.png');}
  &.kn {background-image: url('/modules/EgratFrontend/img/flags/kn.png');}
  &.kp {background-image: url('/modules/EgratFrontend/img/flags/kp.png');}
  &.kr {background-image: url('/modules/EgratFrontend/img/flags/kr.png');}
  &.kw {background-image: url('/modules/EgratFrontend/img/flags/kw.png');}
  &.ky {background-image: url('/modules/EgratFrontend/img/flags/ky.png');}
  &.kz {background-image: url('/modules/EgratFrontend/img/flags/kz.png');}
  &.la {background-image: url('/modules/EgratFrontend/img/flags/la.png');}
  &.lb {background-image: url('/modules/EgratFrontend/img/flags/lb.png');}
  &.lc {background-image: url('/modules/EgratFrontend/img/flags/lc.png');}
  &.li {background-image: url('/modules/EgratFrontend/img/flags/li.png');}
  &.lk {background-image: url('/modules/EgratFrontend/img/flags/lk.png');}
  &.lr {background-image: url('/modules/EgratFrontend/img/flags/lr.png');}
  &.ls {background-image: url('/modules/EgratFrontend/img/flags/ls.png');}
  &.lt {background-image: url('/modules/EgratFrontend/img/flags/lt.png');}
  &.lu {background-image: url('/modules/EgratFrontend/img/flags/lu.png');}
  &.lv {background-image: url('/modules/EgratFrontend/img/flags/lv.png');}
  &.ly {background-image: url('/modules/EgratFrontend/img/flags/ly.png');}
  &.ma {background-image: url('/modules/EgratFrontend/img/flags/ma.png');}
  &.mc {background-image: url('/modules/EgratFrontend/img/flags/mc.png');}
  &.md {background-image: url('/modules/EgratFrontend/img/flags/md.png');}
  &.me {background-image: url('/modules/EgratFrontend/img/flags/me.png');}
  &.mf {background-image: url('/modules/EgratFrontend/img/flags/mf.png');}
  &.mg {background-image: url('/modules/EgratFrontend/img/flags/mg.png');}
  &.mh {background-image: url('/modules/EgratFrontend/img/flags/mh.png');}
  &.mk {background-image: url('/modules/EgratFrontend/img/flags/mk.png');}
  &.ml {background-image: url('/modules/EgratFrontend/img/flags/ml.png');}
  &.mm {background-image: url('/modules/EgratFrontend/img/flags/mm.png');}
  &.mn {background-image: url('/modules/EgratFrontend/img/flags/mn.png');}
  &.mo {background-image: url('/modules/EgratFrontend/img/flags/mo.png');}
  &.mp {background-image: url('/modules/EgratFrontend/img/flags/mp.png');}
  &.mq {background-image: url('/modules/EgratFrontend/img/flags/mq.png');}
  &.mr {background-image: url('/modules/EgratFrontend/img/flags/mr.png');}
  &.ms {background-image: url('/modules/EgratFrontend/img/flags/ms.png');}
  &.mt {background-image: url('/modules/EgratFrontend/img/flags/mt.png');}
  &.mu {background-image: url('/modules/EgratFrontend/img/flags/mu.png');}
  &.mv {background-image: url('/modules/EgratFrontend/img/flags/mv.png');}
  &.mw {background-image: url('/modules/EgratFrontend/img/flags/mw.png');}
  &.mx {background-image: url('/modules/EgratFrontend/img/flags/mx.png');}
  &.my {background-image: url('/modules/EgratFrontend/img/flags/my.png');}
  &.mz {background-image: url('/modules/EgratFrontend/img/flags/mz.png');}
  &.na {background-image: url('/modules/EgratFrontend/img/flags/na.png');}
  &.nc {background-image: url('/modules/EgratFrontend/img/flags/nc.png');}
  &.ne {background-image: url('/modules/EgratFrontend/img/flags/ne.png');}
  &.nf {background-image: url('/modules/EgratFrontend/img/flags/nf.png');}
  &.ng {background-image: url('/modules/EgratFrontend/img/flags/ng.png');}
  &.ni {background-image: url('/modules/EgratFrontend/img/flags/ni.png');}
  &.nl {background-image: url('/modules/EgratFrontend/img/flags/nl.png');}
  &.no {background-image: url('/modules/EgratFrontend/img/flags/no.png');}
  &.np {background-image: url('/modules/EgratFrontend/img/flags/np.png');}
  &.nr {background-image: url('/modules/EgratFrontend/img/flags/nr.png');}
  &.nu {background-image: url('/modules/EgratFrontend/img/flags/nu.png');}
  &.nz {background-image: url('/modules/EgratFrontend/img/flags/nz.png');}
  &.om {background-image: url('/modules/EgratFrontend/img/flags/om.png');}
  &.pa {background-image: url('/modules/EgratFrontend/img/flags/pa.png');}
  &.pe {background-image: url('/modules/EgratFrontend/img/flags/pe.png');}
  &.pf {background-image: url('/modules/EgratFrontend/img/flags/pf.png');}
  &.pg {background-image: url('/modules/EgratFrontend/img/flags/pg.png');}
  &.ph {background-image: url('/modules/EgratFrontend/img/flags/ph.png');}
  &.pk {background-image: url('/modules/EgratFrontend/img/flags/pk.png');}
  &.pl {background-image: url('/modules/EgratFrontend/img/flags/pl.png');}
  &.pn {background-image: url('/modules/EgratFrontend/img/flags/pn.png');}
  &.pr {background-image: url('/modules/EgratFrontend/img/flags/pr.png');}
  &.ps {background-image: url('/modules/EgratFrontend/img/flags/ps.png');}
  &.pt {background-image: url('/modules/EgratFrontend/img/flags/pt.png');}
  &.pw {background-image: url('/modules/EgratFrontend/img/flags/pw.png');}
  &.py {background-image: url('/modules/EgratFrontend/img/flags/py.png');}
  &.qa {background-image: url('/modules/EgratFrontend/img/flags/qa.png');}
  &.ro {background-image: url('/modules/EgratFrontend/img/flags/ro.png');}
  &.rs {background-image: url('/modules/EgratFrontend/img/flags/rs.png');}
  &.ru {background-image: url('/modules/EgratFrontend/img/flags/ru.png');}
  &.rw {background-image: url('/modules/EgratFrontend/img/flags/rw.png');}
  &.sa {background-image: url('/modules/EgratFrontend/img/flags/sa.png');}
  &.sb {background-image: url('/modules/EgratFrontend/img/flags/sb.png');}
  &.sc {background-image: url('/modules/EgratFrontend/img/flags/sc.png');}
  &.sd {background-image: url('/modules/EgratFrontend/img/flags/sd.png');}
  &.se {background-image: url('/modules/EgratFrontend/img/flags/se.png');}
  &.sg {background-image: url('/modules/EgratFrontend/img/flags/sg.png');}
  &.sh {background-image: url('/modules/EgratFrontend/img/flags/sh.png');}
  &.si {background-image: url('/modules/EgratFrontend/img/flags/si.png');}
  &.sk {background-image: url('/modules/EgratFrontend/img/flags/sk.png');}
  &.sl {background-image: url('/modules/EgratFrontend/img/flags/sl.png');}
  &.sm {background-image: url('/modules/EgratFrontend/img/flags/sm.png');}
  &.sn {background-image: url('/modules/EgratFrontend/img/flags/sn.png');}
  &.so {background-image: url('/modules/EgratFrontend/img/flags/so.png');}
  &.sr {background-image: url('/modules/EgratFrontend/img/flags/sr.png');}
  &.ss {background-image: url('/modules/EgratFrontend/img/flags/ss.png');}
  &.st {background-image: url('/modules/EgratFrontend/img/flags/st.png');}
  &.sv {background-image: url('/modules/EgratFrontend/img/flags/sv.png');}
  &.sy {background-image: url('/modules/EgratFrontend/img/flags/sy.png');}
  &.sz {background-image: url('/modules/EgratFrontend/img/flags/sz.png');}
  &.tc {background-image: url('/modules/EgratFrontend/img/flags/tc.png');}
  &.td {background-image: url('/modules/EgratFrontend/img/flags/td.png');}
  &.tf {background-image: url('/modules/EgratFrontend/img/flags/tf.png');}
  &.tg {background-image: url('/modules/EgratFrontend/img/flags/tg.png');}
  &.th {background-image: url('/modules/EgratFrontend/img/flags/th.png');}
  &.tj {background-image: url('/modules/EgratFrontend/img/flags/tj.png');}
  &.tk {background-image: url('/modules/EgratFrontend/img/flags/tk.png');}
  &.tl {background-image: url('/modules/EgratFrontend/img/flags/tl.png');}
  &.tm {background-image: url('/modules/EgratFrontend/img/flags/tm.png');}
  &.tn {background-image: url('/modules/EgratFrontend/img/flags/tn.png');}
  &.to {background-image: url('/modules/EgratFrontend/img/flags/to.png');}
  &.tr {background-image: url('/modules/EgratFrontend/img/flags/tr.png');}
  &.tt {background-image: url('/modules/EgratFrontend/img/flags/tt.png');}
  &.tv {background-image: url('/modules/EgratFrontend/img/flags/tv.png');}
  &.tw {background-image: url('/modules/EgratFrontend/img/flags/tw.png');}
  &.tz {background-image: url('/modules/EgratFrontend/img/flags/tz.png');}
  &.ua {background-image: url('/modules/EgratFrontend/img/flags/ua.png');}
  &.ug {background-image: url('/modules/EgratFrontend/img/flags/ug.png');}
  &.us {background-image: url('/modules/EgratFrontend/img/flags/us.png');}
  &.uy {background-image: url('/modules/EgratFrontend/img/flags/uy.png');}
  &.uz {background-image: url('/modules/EgratFrontend/img/flags/uz.png');}
  &.va {background-image: url('/modules/EgratFrontend/img/flags/va.png');}
  &.vc {background-image: url('/modules/EgratFrontend/img/flags/vc.png');}
  &.ve {background-image: url('/modules/EgratFrontend/img/flags/ve.png');}
  &.vg {background-image: url('/modules/EgratFrontend/img/flags/vg.png');}
  &.vi {background-image: url('/modules/EgratFrontend/img/flags/vi.png');}
  &.vn {background-image: url('/modules/EgratFrontend/img/flags/vn.png');}
  &.vu {background-image: url('/modules/EgratFrontend/img/flags/vu.png');}
  &.wf {background-image: url('/modules/EgratFrontend/img/flags/wf.png');}
  &.ws {background-image: url('/modules/EgratFrontend/img/flags/ws.png');}
  &.ye {background-image: url('/modules/EgratFrontend/img/flags/ye.png');}
  &.yt {background-image: url('/modules/EgratFrontend/img/flags/yt.png');}
  &.za {background-image: url('/modules/EgratFrontend/img/flags/za.png');}
  &.zm {background-image: url('/modules/EgratFrontend/img/flags/zm.png');}
  &.zw {background-image: url('/modules/EgratFrontend/img/flags/zw.png');}

}