/*
 * Get
 * This holds style extensions for the gft getter mater.
 */

$input_width: 250px;
$input_font_size: 15px;

/**
 * Stripe icon positioning
 */
.stripe-getgift {
  .icon {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 105;
    width: 100%;
    text-align: center;
    margin-top: 215px;

    .container {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    img {
      width: 46px;
      height: 54px;
    }
  }
}

.get-master-page {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.get-master-container {

  position: relative;
  display: inline-block;
  text-align: center;
  margin: 60px 0px 0px 0px;
  padding: 0px;

  width: 80%;

  @include media(phone) {width: 100%;}
  @include media(tablet) {width: 100%;}
  @include media(desktop) {width: 800px;}


} //master container


//welcome block
.welcome-block {

  margin-top: 20px;
  margin-bottom: 20px;

  h3 {
    display: block;
    color: darken($color_grey_page, 15);
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 0px 0px;
    letter-spacing: -1px;

    a {text-decoration: underline}
  }

  h4 {
    display: block;
    color: lighten($color_grey_page, 10);
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    margin: 15px 0px;
    letter-spacing: 0px;

    a {text-decoration: underline}
  }

} //welcome block

//get master
.get-master {
  @include border-radius(10px);
  margin: 10px;
  border: 1px solid $color_grey_page_lighter;
  min-height: 200px;
  padding: 0px;
  margin: 0px;
  text-align: left;

  .step {

    padding: 30px 30px;

    &.closed {
      @include border-top-radius(10px);
      background: #f5f5e9;
      padding: 10px 30px;
    }

    form {
      margin-bottom: 0px;
    }

    .phone {
      font-size: $input_font_size;
      color: darken($color_blue_standard, 20);
    }

    input {
      font-size: $input_font_size;
      padding: 10px;
      width: $input_width;
    }

    .control-group {
      margin-bottom: 0px;
    }

    select {
      font-size: 12px;
    }

    .add-on {
      font-size: $input_font-size;
      padding: 10px;
    }

    .errors {
      width: $input_width;
    }

    .controls {
      margin-top: 10px;
    }


  } //step


} //get master

//illustration
.get-master-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 107;
  width: 330px;
  height: 275px;
  margin-right: 30px;

  &.phone {
    background-image: url('/modules/EgratFrontend/img/get-master/illustration-phone.png');
  }
  &.code {
    background-image: url('/modules/EgratFrontend/img/get-master/illustration-code.png');
  }
} //illustration



//aggregate title
.aggregate-title {

  margin-top: 20px;
  margin-bottom: 20px;

  h3 {
    display: block;
    color: darken($color_grey_page, 15);
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    margin: 0px 0px;
    letter-spacing: -1px;

    a {text-decoration: underline}
  }

  h4 {
    display: block;
    color: lighten($color_grey_page, 10);
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
    margin: 15px 0px;
    letter-spacing: 0px;

    a {text-decoration: underline}
  }

} //aggregate title


//gifts aggregate
.get-master-gift-aggregate {

  margin: 40px 0px 0px 0px;


  .items {
    width: 60%;
    display: inline-block;
    text-align: left;

    & .item:nth-child(odd) {
      background: lighten($color_grey_page_lighter, 20);
    }
  }

  .item {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;


    //headers
    .headers {
      position: relative;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        border: 1px solid lighten($color_grey_page_lighter, 5px);
      }

      .amount {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 110px;
        padding: 4px;
        text-align: center;
        font-size: 11px;
        line-height: 16px;

        .icon {
          position: absolute;
          top: 0px;
          left: 10px;
          font-size: 25px;
          margin-top: 5px;
          color: #f2af08;
        }

        .value {
          padding-left: 10px;
        }

        b {
          display: block;
          text-align: center;
        }
      }

      .subject {
        padding-left: 45px;
        line-height: 17px;

        .from {
          display: block;
          font-size: 12px;
          a {font-weight: bold}
          span.recepient {font-weight: bold; font-size: 14px;}
        }
        .date {
          display: block;
          font-size: 11px;
        }
      }

    } //headers

    .message {
      display: block;
      padding: 15px 20px;
      margin: 15px 0px 0px 0px;
      background: #fff;
      border: 1px solid lighten($color_grey_page_lighter, 15);
      color: $color_grey_page;
      @include border-radius(10px);
      font-size: 13px;
      line-height: 17px;
    }




  }

  .controls {
    width: 60%; //
    display: inline-block;
    margin-top: 40px;
    padding-top: 30px;
    border: dotted $color_grey_page_lighter;
    border-width: 1px 0px 0px 0px;
    text-align: center;
  }



} //gifts aggregate
