/*
 * Home
 * This holds style extensions for the front page.
 */

@import 'compass';
@import 'colors';
@import 'fonts';


/*
* Frontpage hero
* Full width container for styled banner slideshows.
*/
$banner_width: 920px;
$banner_height: 420px;
$banner_tablet_height: 343px;
$banner_tablet_width: 768px;

.egrat-hero {

  margin-top: 0px;
  width: 100%;

  .hero-unit {

    @include border-radius(0px);

    padding: 0px;
    margin: 0px;

    color: #fff;
    background-image: url('/modules/EgratFrontend/img/frontpage-hero-background.png');
    text-align: center;

    ol,ul {
      margin: 0px;
      padding: 0px;
    }

  }

  .carousel-inner {
    img {
      width: $banner_width;
      min-width: $banner_tablet_width;
    }
  }

  .carousel-indicators {
    list-style: none;
  }

  .carousel {
    margin: 0px;
  }

  .carousel-control {
    background: none;
    top: 50%;
    cursor: pointer;
  }

} //hero

.egrat-phone-hero
{
  display: none;
  @include media(phone){display: block};

  .hero-unit {
    @include border-radius(0px);
    @include background-image(
        linear-gradient(
            top,
            $color_blue_footer_contacts,
            lighten($color_blue_footer_contacts, 10)
        )
    );

    padding: 80px 10px;
    margin: 0px;

    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-shadow: 0px 2px darken($color_blue_standard, 20);
  }

}//phone hero

/*
* Frontpage masters
* Container to hold frontpage master invitations like 'get' and 'send'
*/
.stripe-frontpage-masters {

  padding: 0px 0px 80px 0px;
  margin: 0px;

  @include media(tablet) {padding: 0px 0px 40px 0px;}
  @include media(phone) {padding: 40px 0px 40px 0px;}



  //slider controls
  .hero-slider-controls {
    text-align: center;
    padding: 5px 0px;
    margin: 0px;
    margin-bottom: 80px;
    @include media(tablet) {margin-bottom: 40px;}

    .slide-control {
      display: inline-block;
      cursor: pointer;
      width: 13px;
      height: 13px;
      background-image: url('/modules/EgratFrontend/img/frontpage/slider-control-off.png');
      background-position: center;
      background-repeat: no-repeat;

      &.active {
        background-image: url('/modules/EgratFrontend/img/frontpage/slider-control-on.png');
      } //acive
    }

  }//slider controls


  .container {
    text-align: center;

    span.or-masters {
      display: inline-block;
      margin: 0px 20px;
      font-style: italic;
      font-size: 16px;
      color: $color_grey_page;
    }

    .welcome-text {

      display: inline-block;
      margin: 40px 0px 20px 0px;
      width: 60%;
      color: $color_grey_page;
      font-size: 16px;

      @include media(phone) {
        width: 90%;
        font-size: 16px;
      }

    }
  }
}


/**
 * Stripes
 * Frontend stripe extensions
 */
.stripe {

  h1.stripe-header-home {
    font-size: 25px;
    font-weight: normal;
    color: $color_grey_page;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  h4 {
    font-size: 14px;
    line-height: 20px;
  }

  .block-header {
    width: 100%;
    text-align: center;
  }

  .details {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}


/**
 * Offers
 * Offers block for the frontpage
 */
.stripe.stripe-offers {

  color: $color_grey_page;
  padding: 10px 0px;
  text-align: center;
  @include media(phone) {padding: 20px}



  //offer block
  .offer {

    margin-bottom: 40px;
    @include media(phone) {width: 250px; display: inline-block;};

    h3 {
      font-weight: bold;
      color: darken($color_grey_page, 20);
    }

    .image {

      $image_width: 210px;
      $image_height: 210px;

      $image_tablet_width: 160px;
      $image_tablet_height: 160px;

      //tablet
      @include media(tablet) {
        width: $image_tablet_width;
        height: $image_tablet_height;
      }


      display: inline-block;
      padding: 6px;
      text-align: center;
      width: $image_width;
      height: $image_height;
      border: 1px solid #dadada;
      background-color: #fff;
      background-image: url('/modules/EgratFrontend/img/frontpage-default-thumbnail.png');
      background-position: center;

      img {
        width: $image_width;
        height: $image_height;

        //tablet
        @include media(tablet) {
          width: $image_tablet_width;
          height: $image_tablet_height;
        }
      }
    }//image


    .description {
      display: inline-block;
      padding: 6px;
      text-align: left;
      @include media(phone) {padding-left: 20px;}
    }



  }
} //offers



/**
 * Partners
 * Partners block for the frontpage
 */
.stripe.stripe-partners {

  padding: 10px 0px;
  color: $color_grey_page;
  text-align: center;
  @include media(phone) {padding: 20px}

  .container {
    position: relative;
  }

  //partners block
  .partner {
    margin-bottom: 40px;
    @include media(phone) {width: 250px; display: inline-block;};

    h4 {
      font-weight: bold;
      color: darken($color_grey_page, 20);
    }

    //tablet
    @include media(tablet) {
      font-size: 11px;
      line-height: 15px;

      h4 {
        line-height: 15px;
      }
    }


    .image {

      $image_width: 130px;
      $image_height: 130px;

      $image_phone_width: 210px;
      $image_phone_height: 210px;

      $image_tablet_width: 105px;
      $image_tablet_height: 105px;

      $image_desktop_width: 150px;
      $image_desktop_height: 150px;

      display: inline-block;
      padding: 4px;
      text-align: center;
      width: $image_width;
      height: $image_height;
      border: 1px solid #dadada;
      background-color: #fff;
      background-image: url('/modules/EgratFrontend/img/frontpage-default-thumbnail.png');
      background-position: center;

      //phone
      @include media(phone) {
        width: $image_phone_width;
        height: $image_phone_height;
      }

      //tablet
      @include media(tablet) {
        width: $image_tablet_width;
        height: $image_tablet_height;
      }

      //desktop
      @include media(desktop) {
        width: $image_desktop_width;
        height: $image_desktop_height;
      }

      img {
        width: $image_width;
        height: $image_height;

        //phone
        @include media(phone) {
          width: $image_phone_width;
          height: $image_phone_height;
        }

        //tablet
        @include media(tablet) {
          width: $image_tablet_width;
          height: $image_tablet_height;
        }

        //desktop
        @include media(desktop) {
          width: $image_desktop_width;
          height: $image_desktop_height;
        }

      }



    } //image

    .description {
      display: inline-block;
      padding: 6px;
      text-align: left;
      @include media(phone) {padding-left: 20px;}
    }

  }

  //partner register button alignment
  .details.register {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 111px;

    display: block;
    width: 950px;
    text-align: right;
    a {
      margin-right: 20px;
    }
  }

} //stripe-partners


/**
 * News
 * News block for the frontpage
 */
.stripe.stripe-news {

  padding: 30px 0px;
  @include media(phone) {padding: 20px}

  .details {
    text-align: left;
    margin-top: 30px;
  }

  h4 {
    font-weight: bold;
    color: darken($color_grey_page, 20);
  }

  //tablet
  @include media(tablet) {
    font-size: 11px;
    line-height: 15px;
    h4 {
      line-height: 15px;
    }
  }

  //calendar
  .calendar {

    background-position: top right;
    background-repeat: repeat-y;
    border: 1px solid $color_grey_page_lighter;
    @include box-shadow(5px 5px 0px #e1e1e1);

    .header {

      padding: 10px 0px 20px 0px;

      background-image: url('/modules/EgratFrontend/img/frontpage-calendar-background.png');
      background-position: bottom right;
      background-repeat: repeat-x;

      color: #fff;
      text-align: center;
      text-transform: uppercase;
      line-height: 15px;
      font-weight: bold;
    }

    .leaf {
      background: #fff;
    }

    .datepicker, {
      display: block;
      margin-right: 10px;

      text-align: right;
      font-size: 15px;
      color: $color_grey_page;

      & a {
        color: $color_grey_page;
      }

    }//datepicker


    .days-navigation {
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
      font-size: 15px;

      @include media(tablet) {
        font-size: 12px;
      }

      & div {
        display: inline-block;
        vertical-align: middle;
      }

      //previous
      .previous, .previous:hover {
        padding-left: 15px;
        color: $color_grey_page;
        text-decoration: none;
        background-image: url('/modules/EgratFrontend/img/icon-arrow-blue-left.png');
        background-position: left center;
        background-repeat: no-repeat;
      } //previous

      //next
      .next, .next:hover {
        padding-right: 15px;
        color: $color_grey_page;
        text-decoration: none;
        background-image: url('/modules/EgratFrontend/img/icon-arrow-blue-right.png');
        background-position: right center;
        background-repeat: no-repeat;
      } //next

      .current {
        @include border-radius(10px);
        background: $color_grey_warm;
        color: darken($color_grey_page, 10);
        padding: 10px 5px;
        margin: 0px 15px;

        .day {
          display: block;
          font-size: 25px;

        }
        .month {
          display: block;
          margin-top: 2px;
        }

      } //current




    } //days navigation


    .holiday {
      text-align: center;
      padding: 20px 10px;
      font-size: 12px;

      @include media(tablet) {
        font-size: 11px;
        line-height: 14px;
      }

      h1 {
        display: block;
        margin: 0px 0px 10px 0px;
        color: darken($color_grey_page, 10);

        font-weight: bold;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
      }
    }


  } //calendar


} //news stripe


