/*
 * Send
 * This holds style extensions for the gft sender mater.
 */



/**
 * Device settings
 * This holds settings for various devices.
 */
//standard
$steps_navigation_width: 250px;
$master_content_width: 940px - $steps_navigation_width - 5px;
$steps_menu_font: 14px;

//phone
$steps_navigation_width_phone: 100px;
//$master_content_width_phone: 320px - $steps_navigation_width_phone - 5px;
$master_content_width_phone: 100%;
$steps_menu_font_phone: 11px;


//tablet
$steps_navigation_width_tablet: 200px;
$master_content_width_tablet: 724px - $steps_navigation_width_tablet - 5px;
$steps_menu_font_tablet: 13px;

//desktop
$steps_navigation_width_desktop: 300px;
$master_content_width_desktop: 1170px - $steps_navigation_width_desktop - 5px;
$steps_menu_font_desktop: 14px;


//textblock master positioning
.text-block-send {
  background: lighten($color_grey_page_lighter, 20);
  padding: 30px 0px;
  @include media(phone) {padding: 0px};

  .container {
    position: relative;
  }

}

//master container
.master-container {
  display: inline-block;
  width: 100%;
  text-align: left;
  vertical-align: top;
} //master container

/**
 * Steps sidebar
 */
.steps {
  display: inline-block;
  vertical-align: top;


  //sidebar list
  ul {
    @include media(phone) {display: none}
    padding: 0px;
    margin: 0px;

    width: $steps_navigation_width;
    font-size: $steps_menu_font;

    @include media(phone) {
      width: $steps_navigation_width_phone;
      font-size: $steps_menu_font_phone;
    }
    @include media(tablet) {
      width: $steps_navigation_width_tablet;
      font-size: $steps_menu_font_tablet;
    }
    @include media(desktop) {
      width: $steps_navigation_width_desktop;
      font-size: $steps_menu_font_desktop;
    }
  } //sidebard list

  //sidebar item
  li {
    display: block;
    padding: 20px 30px 20px 10px;
    border: solid lighten($color_grey_page, 40);
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
    vertical-align: middle;

    span.marker {
      display: inline-block;
      vertical-align: middle;

      @include border-radius(20px);
      padding: 0px 7px;
      margin: 0px 10px 0px 0px;
      background: lighten($color_grey_page, 30);
      color: #fff;
      font-size: 12px;
    }

    span{
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      color: $color_grey_page;
    }

    &.passed {
      padding-left: 45px;
      background-color: lighten($color_grey_page_lighter, 15);
      background-image: url('/modules/EgratFrontend/img/send-master/marker-step-passed.png');
      background-position: 15px center;
      background-repeat: no-repeat;

      span.marker {
        display: none;
      }

    } //passed

    &.active {
      background: $color_green_standard;

      span{
        color: #fff;
      }

      span.marker {
        background: #fff;
        color: darken($color_green_standard, 10);
      }

    }//active

  } //sidebar item


  //payment total
  .payment-total-receipt {

    color: lighten($color_grey_page, 5);
    font-size: 13px;
    @include media(phone) {display: none}
    @include media(tablet) {font-size: 12px}
    @include media(desktop) {font-size: 14px}
    @include font_mono;

    .receipt-content {
      background: #fff;
      background-image: url('/modules/EgratFrontend/img/send-master/receipt-background.png');
      background-position: bottom left;
      padding-top: 10px;
      padding-bottom: 30px;

      border: solid lighten($color_grey_page, 45);
      border-width: 0px 0px 0px 1px;
    }
    .receipt-footer {
      height: 10px;
      background-image: url('/modules/EgratFrontend/img/send-master/receipt-bottom-background.png');
      background-position: bottom left;
      background-repeat: repeat-x;
    }

    table.receipt {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      tr, td, th {
        text-align: left;
      }

      .total {font-weight: bold}
      .field {text-align: left; padding: 2px 10px}
      .value {text-align: right; padding: 2px 10px}

      thead {
        font-weight: normal;
        th { text-align: center; font-weight: normal;}
      } //thead

      tfoot {
        border: dashed lighten($color_grey_page, 15);
        border-width: 1px 0px 0px 0px;
      }

      span.ruller {
        display: inline-block;
        overflow: hidden;
        text-align: center;

        width: 190px;
        @include media(tablet) {width: 120px;}
        @include media(desktop) {width: 230px;}

      } //ruller



    }


  } //payment totak

}//steps sidebar



/**
 * Steps content
 * This holds general styles for step master content.
 */
.step-content {
  position: relative;
  top: 0px;
  left: -10px;
  z-index: 10;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;

  width: $master_content_width;
  @include media(tablet) {width: $master_content_width_tablet}
  @include media(desktop) {width: $master_content_width_desktop}

  @include media(phone) {
    position: relative;
    top: 0px;
    left: 0px;
    width: $master_content_width_phone;
    margin: 0px;
  }

  //steps box (with shadow)
  .steps {
    background: #fff;
    width: 100%;
    min-height: 500px;
    @include single-box-shadow(rgba(0,0,0,0.1), -5px, 0px, 0px);
    border: 1px solid $color_grey_page_lighter;
  } //steps box

  //active step
  .step {
    padding: 0px 20px;
    text-align: center;
  } //active step

  //passed step
  .step.passed {
    background-color: lighten($color_grey_page_lighter, 15);
    padding: 16px 15px 16px 15px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;

    .step-summary {
      display: inline-block;
      vertical-align: middle;
      background-color: lighten($color_grey_page_lighter, 20);
      padding: 4px 10px;
      @include border-radius(5px);
      overflow: hidden;
      @include box-shadow(1px 1px 0px #e1e1e1);


      width: $master_content_width - 110px;
      //@include media(phone) {width: $master_content_width_phone - 110px}
      @include media(tablet) {width: $master_content_width_tablet - 110px}
      @include media(desktop) {width: $master_content_width_desktop  - 110px}

      span.delivery-type {
        display: inline-block;
        @include border-radius(10px);
        padding: 1px 10px;
        margin: 0px 10px 0px 0px;
        background: lighten($color_grey_page, 20);
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
      }

      span.gift-type {
        @extend span.delivery-type;
        background: lighten($color_grey_page, 50);
        text-transform: none;
        color: $color_grey_page;
        margin: 0px 5px 0px 0px;
      }

      span.date-setting {
        @extend span.gift-type;
      }
      span.date {
        display: inline-block;
        margin-right: 10px;
      }

    }

    a.change-step {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      padding: 4px 10px;
      font-style: normal;
      @include box-shadow(1px 1px 0px #e1e1e1);
      background: lighten($color_grey_page_lighter, 20);
      border: none;


      &:hover {
        background: $color_green_standard;
        color: #fff;
      }
    }



  } //passed step

  //step header
  h1 {
    font-size: 25px;
    font-weight: normal;
    color: $color_grey_page;
    margin-bottom: 25px;
    margin-top: 25px;
  } //step header

  //notification box
  .notification-light {
    display: inline-block;
    text-align: left;
    @include media(desktop) {width: 60%;}
    margin: 30px 0px 30px 0px;
  } //notification box

  //continue button
  .continue {
    padding: 30px;
  }//continue button

}//steps content


/**
 * Delivery method
 */
table.delivery-method {
  width: 100%;
  border-collapse:collapse;
  border: none;

  img.sms, img.mms {
    margin-left: 32px;
  }

  .method-name {
    display: block;
    font-size: 15px;
    margin-top: 10px;
  }

  td.method {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 20px;

    &.inactive {
      @include opacity(0.3);
    }
    &.active {
      color: $color_green_standard;
      font-weight: bold;
      background: url('/modules/EgratFrontend/img/send-master/selected-delivery-marker.png');
      background-position: bottom center;
      background-repeat: no-repeat;
    }
  } //method

  //green delivery data box
  td.delivery-data {
    @include border-radius(10px);
    padding: 20px;
    background: $color_green_standard;
    color: #fff;
    text-align: center;
  }

  //validation error styles
  &.has-errors {
    td.method.active {
      color: $color_error_text;
      background-image: url('/modules/EgratFrontend/img/send-master/selected-delivery-marker-errors.png');
    }
    td.delivery-data {
      background: #ffd6d6;
    }
    label {
      color: darken($color_grey_page, 10);
    }
  } //validation error styles

} //methods table


/**
 * Delivery data input
 */
table.delivery-data-input {

  width: 100%;

  td {
    text-align: left;
    vertical-align: middle;
    padding: 0px 5px;

    input {
      font-size: 20px;
      padding: 8px 10px 6px 10px;
      margin-bottom: 0px;
    }

  }

  label {
    color: #fff;
  }

  //phone (sms/mms)
  &.phone {

    .country-code {
      width: 1%;
      text-align: center;
      input {
        width: 50px;
        text-align: center;
      }
    }

    .area-code {
      width: 1%;
      text-align: center;
      input {
        width: 50px;
        text-align: center;
      }
    }

    .phone-number {
      padding-right: 20px;
      input {
        width: 90%;
      }
    }
  } //phone


  //email
  &.email {

    td.email {
      input {
        width: 90%;
      }
    }
  } //email


  //address
  &.address {

    input, select {
      font-size: 14px;
      padding: 5px 10px 4px 10px;
    }

    .inline {
      .control-group {
        display: inline-block;
        vertical-align: top;
      }
    }

    textarea {
      width: 95%;
      height: 100px;
      font-size: 14px;
      resize: none;
    }


  }

}//inputs table


/**
 * Greeting input
 */

div.greeting-input {

  .control-group {
    display: inline-block;
    width: 60%;

    .errors ul {
      display: block;
      padding: 0px;
      margin: 0px;
      list-style: none;
      font-size: 12px;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        border: none;
        line-height: 14px;
      }
    }

  }

  textarea {
    width: 100%;
    height: 60px;
    font-size: 14px;
    resize: none;
  }

  .char-notice {
    color: lighten($color_grey_page, 10);
    font-size: 12px;

    .value {
      font-weight: bold;
    }
  }

} //greeting input


/**
 * Gift category input
 */
.category-input {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;

  @include media(desktop) {
    width: 60%;
  }

  .category {
    @include border-radius(10px);
    @include box-shadow(1px 1px 0px #e1e1e1);
    display: inline-block;
    padding: 4px 15px;
    margin: 5px 10px;
    font-size: 13px;
    text-transform: lowercase;
    color:lighten($color_grey_page, 20);
    background: lighten($color_grey_page, 55);
    cursor: pointer;

    &:hover {
      background: lighten($color_grey_page, 57);
    }

    &.active {
      background: $color_green_standard;
      color: #fff;
      &:hover {background: lighten($color_green_standard, 5)}
    }

  }

} //category input


/**
 * Delivery date input
 */
.delivery-date-input {

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  width: 90%;
  @include media(tablet){width: 100%;}
  @include media(desktop){width: 70%}

  tr.date-picker td {
        padding-bottom: 30px;

        background-image: url('/modules/EgratFrontend/img/send-master/repeater-marker-arrow.png');
        background-position: bottom center;
        background-repeat: no-repeat;
  }

  tr.repeat-picker td.section {
        background: lighten($color_grey_page, 55);
        @include border-radius(10px);
        @include box-shadow(1px 1px 0px #e1e1e1);
  }


  //date picker
  tr.date-picker {

    .date {display: inline-block;}

    input.delivery-date-input {
      font-size: 18px;
      font-weight: normal;
      text-align: center;
    }

    .btn {
      background: lighten($color_grey_page_lighter, 15);
      color: lighten($color_grey_page, 10);
      text-decoration: none;
      cursor: pointer;
      border: 1px solid lighten($color_grey_page, 35);
      &:hover {
        background: $color_green_standard;
        color: #fff;
      }

    }

  } //date-picker

  //repeat picker table
  tr.repeat-picker table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color:lighten($color_grey_page, 15);

    tr {text-align: left}
    td {
      text-align: left;
      padding: 10px 5px 10px 5px;

      &.form-label {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
      }

    }

    //repeater select
    .repeat-selector button {

      display: inline-block;
      padding: 5px;
      margin: 0px;
      margin-left: -0.35em;
      background: #fff;
      font-size: 11px;
      color: lighten($color_grey_page, 10);
      border: solid lighten($color_grey_page, 40);
      border-width: 1px 0px 1px 0px;

      &.left {
        @include border-left-radius(25px);
        padding-left: 15px;
        padding-right: 15px;
      }
      &.right {
        @include border-right-radius(25px);
        padding-left: 15px;
        padding-right: 15px;
      }
      &.active, &.active:hover {
        background: $color_green_standard;
        color: #fff;
      }
      &:hover {
        background: darken(#fff, 3);
      }

    } //repeater select


    //time input
    .input-append {
      .add-on {
        background: lighten($color_grey_page_lighter, 15);
        cursor: pointer;
        a, a:hover {
          color: lighten($color_grey_page, 10);
          text-decoration: none;
        }//href

        &:hover {
          background: $color_green_standard;
          a, a:hover {color: #fff}
        }
      }
    }//append
    input.times-field {
      font-size: 20px;
      width: 100px;
    } //time input


  } //repeat picker table




} //delivery date input


/**
 * Payment selector
 */
.payment-input {

  img {
    display: inline-block;
    margin: 0px 20px;
  }

} //payment selector