<!-- Page header -->
<table class="pageHeader">
	<tr>
		<td class="title">
			Content types
		</td>
		<td class="controls">
      <a href="" class="button active" ng-hide="formVisible" ng-click="showForm()">Add new type</a>
      <a href="" class="button inactive" ng-show="formVisible" ng-click="hideForm()">Cancel add</a>
		</td>
	</tr>
</table>
<!-- /Page header -->


<!-- New type form -->
<div class="formContainer add" ng-show="formVisible" initial-height>
    <div class="progress" ng-show="formProgress" ng-class="{animate: formProgress}"><span>Working...</span></div>
    <form name="newTypeForm" ng-submit="createType()" class="disabled" novalidate>

        <!-- Field -->
        <div class="field">
          <label for="name">Content type name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Type name"
            ng-model="newType.name"
            ng-minlength="3"
            ng-maxlength="250"
            ng-class="{invalid: newTypeForm.name.$invalid && !newTypeForm.name.$pristine}"
            required
            autofocus>
          <ul class="errors" ng-show="newTypeForm.name.$invalid && !newTypeForm.name.$pristine">
            <li ng-show="newTypeForm.name.$error.required">Name is required!</li>
            <li ng-show="newTypeForm.name.$error.minlength">Name must be more than 3 characters.</li>
            <li ng-show="newTypeForm.name.$error.maxlength">Name must be less than 250 characters.</li>
          </ul>

        </div>
        <!-- /Field -->

        <!-- Field -->
        <div class="field">
          <label for="description">Content type description</label>
          <input
            type="text"
            id="description"
            name="description"
            placeholder="Type description"
            ng-model="newType.description"
            ng-maxlength="250"
            ng-class="{invalid: newTypeForm.description.$invalid && !newTypeForm.description.$pristine}">

          <ul class="errors" ng-show="newTypeForm.description.$invalid && !newTypeForm.name.$pristine">
            <li ng-show="newTypeForm.description.$error.maxlength">Description must be less than 250 characters.</li>
          </ul>
        </div>
        <!-- /Field -->





        <div class="controls">
          <input type="submit" value="Add type" ng-disabled="newTypeForm.$invalid">
          <a href="" class="button inactive" ng-click="hideForm()">Cancel add</a>
        </div>
    </form>
</div>
<!-- /New type form -->


<!-- No items to display -->
<div class="noItems" ng-show="types.length == 0 && !formVisible">
    <div>
        <div>No content types yet. Go ahead and <a href="" ng-click="showForm()">create some</a> now.</div>
    </div>
</div>
<!-- /No content types yet -->


<table class="giantPill" ng-repeat="type in types" id="{{type.id}}">
    <tr>
        <td class="item">
            <img class="icon" src="/modules/shift-content/img/icon-content-type.png" width="16" height="16" />
            <div class="title">
                {{type.name}}
                <span class="description">{{type.description}}</span>
            </div>
        </td>
        <td class="controls">
            <a href="" class="button light">Delete</a>
            <!--<span class="defaultMarker" title="This content item is default and can't be deleted">default</span>-->
        </td>
    </tr>
</table>